## Introducción a Python
### Ejercicios del 9 de noviembre de 2021 <br>
Link: https://github.com/carlosjimenez88M/EDA_Course/blob/master/Notebooks/Intro_python.ipynb<br>
Debido a una calamidad familiar del profesor, la clase fue aplazada<br>

In [1]:
Peso = 100
Altura = 1.60
print('De esta manera se imprime el peso',Peso)
print('De esta manera se imprime la altura',Altura)

De esta manera se imprime el peso 100
De esta manera se imprime la altura 1.6

<h3>Haciendo uns calculos sencillos<h3>

In [2]:
## Modelando el caso anterior

IBM = Peso/Altura**2
print('Este es el caso del calculo IBM',IBM)

Este es el caso del calculo IBM 39.06249999999999


Notese que para elevar un dato en Python se trabaja con el Operador **

In [3]:
## Identificando de que tipo de dato se trata
type(IBM)

float

In [4]:
## Algunos ejemplos sencillos

Nombre = 'No se que'
dia = 5
print(type(Nombre))
print(type(dia))

<class 'str'>
<class 'int'>


De la anterior manera podrá verificar con que tipo de datos se trabaja

In [5]:
## Se puede sumar palabras??

'Al' + 'icia'

'Alicia'

In [6]:
'William' + 'ROZO'

'WilliamROZO'

<b> Tipo de datos</b>
- float: Números reales<br>
- int: Números enteros<br>
- bool: Verdad/Falso<br>
- str: strings o textos<br>

In [7]:
lista = [1,2,3,4,5,6,7]
print(lista)
print(type(lista))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [8]:
## Las listas pueden combinar distintos tipos de factores
lista_combinada = ['Lunes',8]
print(lista_combinada)
print(type(lista_combinada))

['Lunes', 8]
<class 'list'>

In [9]:
## Si evaluamos los elementos de la lista
print(type(lista_combinada[0]), 'primer elemento de la lista')
print(type(lista_combinada[1]),'Segundo elemento de la lista')

<class 'str'> primer elemento de la lista
<class 'int'> Segundo elemento de la lista

In [10]:
## ¿Qué pasaría si hago esto?
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [11]:
A = list(range(0,11,2))
A[-1]

10

In [12]:
A = list(range(0,11,2))
A[2:4]

[4, 6]

In [13]:
len(A)

6

In [14]:
## Anexando un cambio a un elemento a la lista
A[5] = 12
print(A)

[0, 2, 4, 6, 8, 12]

In [15]:
## Agregando elementos a la Lista
B  = ['No se aceptan trabajos después de las 11:59', 'a.m',13]
C = A + B
print(C)

[0, 2, 4, 6, 8, 12, 'No se aceptan trabajos después de las 11:59', 'a.m', 13]

In [16]:
## ¿Qué pasaría si hago esto?
del(A[0])
print(A)

[2, 4, 6, 8, 12]

In [17]:
## Veamos otros tratamientos a la lista
x = ['Karen','Felipe','Valentina','F','Tortuga']
y = list(x)
print(y)

['Karen', 'Felipe', 'Valentina', 'F', 'Tortuga']

In [18]:
y_1 = x[:]
y_1[1]

'Felipe'

In [19]:
## Qué pasaría si?
for i in y : # Leasé: por cada elemento de Y (llamado i)
    print(i) # Imprima el valor de i

Karen
Felipe
Valentina
F
Tortuga

In [20]:
## Ajustando un poco el ciclo
for i in y :
    A = 'El individuo de esta lista se llama:'
    print(A + i)

El individuo de esta lista se llama:Karen
El individuo de esta lista se llama:Felipe
El individuo de esta lista se llama:Valentina
El individuo de esta lista se llama:F
El individuo de esta lista se llama:Tortuga

In [21]:
for i in range(10):
    print('El cuadrado del elemento', i,' es', i**2)

El cuadrado del elemento 0  es 0
El cuadrado del elemento 1  es 1
El cuadrado del elemento 2  es 4
El cuadrado del elemento 3  es 9
El cuadrado del elemento 4  es 16
El cuadrado del elemento 5  es 25
El cuadrado del elemento 6  es 36
El cuadrado del elemento 7  es 49
El cuadrado del elemento 8  es 64
El cuadrado del elemento 9  es 81

In [22]:
## Jugando un poco con el for 
for i in range(10):
    print('Este número no es divisible es igual a 5', i)
    if i==5:
        print('Este número es igual a cinco',5)

Este número no es divisible es igual a 5 0
Este número no es divisible es igual a 5 1
Este número no es divisible es igual a 5 2
Este número no es divisible es igual a 5 3
Este número no es divisible es igual a 5 4
Este número no es divisible es igual a 5 5
Este número es igual a cinco 5
Este número no es divisible es igual a 5 6
Este número no es divisible es igual a 5 7
Este número no es divisible es igual a 5 8
Este número no es divisible es igual a 5 9

In [23]:
lista = list(range(10))
for i in lista:
    if i %2 != 0:
        lista.remove(i)
    print('Este # no es divisible por dos: ', i)

Este # no es divisible por dos:  0
Este # no es divisible por dos:  1
Este # no es divisible por dos:  3
Este # no es divisible por dos:  5
Este # no es divisible por dos:  7
Este # no es divisible por dos:  9

In [24]:
lista = list(range(10))
for i in lista:
    if i %2 == 0:
        lista.remove(i)
    if i == 4:
        continue
    print('Este #  es divisible por dos: ', i)

Este #  es divisible por dos:  0
Este #  es divisible por dos:  2
Este #  es divisible por dos:  6
Este #  es divisible por dos:  8

In [25]:
lista = list(range(10))
for i in lista:
    if i %2 == 0:
        lista.remove(i)
    if i == 4:
         i=i**2
    print('Este #  es divisible por dos: ', i)

Este #  es divisible por dos:  0
Este #  es divisible por dos:  2
Este #  es divisible por dos:  16
Este #  es divisible por dos:  6
Este #  es divisible por dos:  8

# Tarea, hasta aca todo bien.